.fondo{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-color-altura{
    background-color: black;
    min-height: 100vh;
}